html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/MACBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: white;
  font-family: "Fira Code", monospace;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 575px) {
}
