.sb-root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 5%;
  height: 100%;
}

.sb-item {
  margin-bottom: 30px;
  height: 50px;
  width: 100%;
  text-align: center;
  color: white;
}

.sb-item img:hover {
  opacity: 1;
}

.sb-item.active {
  border-left: 3px solid #00aced;
  background: #1f272e;
}

.sb-item img {
  margin-top: 10px;
  width: 25px;
  opacity: 0.3;
}

.sb-item.active img {
  opacity: 1;
}

.linkedin {
  color: white;
}

@media (max-width: 1140px) {
  .sb-root {
    width: 10%;
  }
}

@media (max-width: 575px) {
  .sb-root {
    flex-direction: row;
    width: 100%;
    height: 6%;
  }

  .sb-item {
    margin-bottom: 0;
  }

  .sb-item img {
    width: 15px;
  }
}
